html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: sans-serif;
  text-align: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
